<div class="container-fluid" id="register">
    <div class="card mx-auto mt-5" style="width: 90%">
        <div class="card-header text-center"  style="background-color: #84a59d">
            <h4 class="mb-0 p-2">Change Password</h4>
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="card-body px-4 py-4 d-flex flex-column align-items-center text-start">
                <div class="card-text d-flex flex-column justify-content-center" style="width: 80%;">
                    <div class="form-group row mb-2">
                        <label for="currentPassword" class="col-sm-4 col-form-label">Current Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="currentPassword" id="currentPassword"
                                [ngClass]="{
                            'is-invalid': changePasswordForm.get('currentPassword').invalid && (changePasswordForm.get('currentPassword').dirty || changePasswordForm.get('currentPassword').touched || changePasswordForm.submitted),
            
                            'is-valid': changePasswordForm.get('currentPassword').valid && (changePasswordForm.get('currentPassword').dirty || changePasswordForm.get('currentPassword').touched || changePasswordForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="changePasswordForm.get('currentPassword').invalid && (changePasswordForm.get('currentPassword').dirty || changePasswordForm.get('currentPassword').touched || changePasswordForm.submitted) && changePasswordForm.get('currentPassword').errors?.required">
                                Current password cannot be blank</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                                [ngClass]="{
                            'is-invalid': changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched || changePasswordForm.submitted),
            
                            'is-valid': changePasswordForm.get('newPassword').valid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched || changePasswordForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched || changePasswordForm.submitted) && changePasswordForm.get('newPassword').errors?.required">
                                New password cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched || changePasswordForm.submitted) && changePasswordForm.get('newPassword').errors?.minlength">
                                New password must contain at least 6 characters</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                id="confirmPassword"
                                [ngClass]="{
                            'is-invalid': changePasswordForm.get('confirmPassword').invalid && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched || changePasswordForm.submitted),
                            
                            'is-valid': changePasswordForm.get('confirmPassword').valid && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched || changePasswordForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="changePasswordForm.get('confirmPassword').invalid && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched || changePasswordForm.submitted) && changePasswordForm.get('confirmPassword').errors?.required">
                                Confirm password cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="changePasswordForm.invalid && (changePasswordForm.dirty || changePasswordForm.touched || changePasswordForm.submitted) && changePasswordForm.errors?.compareValidator">
                                New passwords do not match</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
            <div class="card-footer text-muted footerbtns d-flex justify-content-center"  style="background-color: #84a59d">
                <button type="button" class="btn btn-secondary mx-1 px-3 float-start" routerLink="/profile">
                    Cancel
                </button>
                <button type="submit" class="btn mx-1 px-3" style="background-color: #f6bd60">
                    Submit
                </button>
            </div>
        </form>
    </div>
