<div class="container-fluid px-0" id="profile">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-3 pb-2" style="background-color: #f5cac3; height: 100vh;">
                <div class="container-fluid text-white p-2 mt-3" style="width: 98%; background-color: #23395b;">
                    <h4 class="m-auto">Settings</h4>
                </div>
                <ul class="list-group mt-2">
                    <li class="list-group-item d-flex justify-content-between">
                        <a routerLink="/profile">
                            My Profile Details
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <a routerLink="changepassword">
                            Change Password
                        </a>
                    </li>
                    <li *ngIf="currentUser.userRolesId == 3" class="list-group-item d-flex justify-content-between">
                        <a routerLink="roles">
                            Manage Team Roles
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-9 pb-2 d-flex flex-column" style="background-color: #f7ede2;  height: 100vh;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

