<div class="container text-white p-2" style="width: 98%; background-color: #5f7a84;">
    TEAM MEMBERS
</div>
<div class="accordion accordion-flush mx-1 mt-2" id="areas">
    <div class="accordion-item" id="east">
        <h2 class="accordion-header bg-secondary d-flex align-items-center py-4 ps-4">
            <a class="bg-secondary ml-3 text-white text-start" type="button"
                style="width: 100%; text-decoration: none; font-size: 20px;">
                East
            </a>
        </h2>
        <div id="eastTeam" class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ford</td>
                        <td><span class="material-icons">
                                call
                            </span>Available</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Miller</td>
                        <td><span class="material-icons">
                                call
                            </span>Available</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jones</td>
                        <td><span class="material-icons">
                                event_busy
                            </span>Busy</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>James</td>
                        <td><span class="material-icons">
                                event_busy
                            </span>Busy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header bg-secondary d-flex align-items-center py-4 ps-4">
            <a class="bg-secondary ml-3 text-white text-start" type="button"
                style="width: 100%; text-decoration: none; font-size: 20px;">
                South
            </a>
        </h2>
        <div id="southTeam" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                Some people here
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header bg-secondary d-flex align-items-center py-4 ps-4">
            <a class="bg-secondary ml-3 text-white text-start" type="button"
                style="width: 100%; text-decoration: none; font-size: 20px;">
                West
            </a>
        </h2>
        <div id="westTeam" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                Westies here
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header bg-secondary d-flex align-items-center py-4 ps-4">
            <a class="bg-secondary ml-3 text-white text-start" type="button"
                style="width: 100%; text-decoration: none; font-size: 20px;">
                North
            </a>
        </h2>
        <div id="northTeam" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                North team here
            </div>
        </div>
    </div>
</div>