<div class="container-fluid" id="dashboard">
    <h4 class="mx-3 mt-2">Dashboard</h4>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col" id="employee" style="background-color: #e4e0e0;">
                <app-employee></app-employee>
            </div>
            <div class="col-6 d-flex flex-column" id="projectDetails" style="background-color: #e4e0e0;">
                <app-projectdetails></app-projectdetails>
            </div>
            <div class="col" id="team" style="background-color: #e4e0e0;">
                <app-team></app-team>
            </div>
        </div>
    </div>
</div>
