<div class="container-fluid px-0" id="dashboard" style="height:100vh">
    <!-- <h4 class="mx-3 mt-2">Dashboard</h4> -->
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-3 pb-2" id="employee" style="background-color: #f5cac3; height:100vh;">
                <app-employee></app-employee>
            </div>
            <div class="col-9 pb-2 d-flex flex-column" id="projectDetails" style="background-color: #f7ede2; height: 100vh">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
