    <div class="container text-white p-2" style="width: 98%; background-color: #928c8c;">
        Team Leader
    </div>
    <span class="material-icons mb-1" style="font-size: 80px;">
        account_circle
    </span>
    <h5 class="mb-3 mt-0">Scott Smith</h5>
    <p class="mb-1" style="font-size: 18px;">TEAM SUMMARY</p>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">NO. OF TEAM MEMBERS
            <span class="badge bg-secondary rounded-pill">67</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">TOTAL COST OF ALL PROJECTS
            <span class="badge bg-secondary rounded-pill">$240k</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">PENDING TASKS
            <span class="badge bg-secondary rounded-pill">15</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">UPCOMING PROJECTS
            <span class="badge bg-secondary rounded-pill">2</span>
        </li>
    </ul>
    <p class="mt-4 mb-1" style="font-size: 18px;">CLIENTS</p>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">ABC Infotech Ltd.
        </li>
        <li class="list-group-item d-flex justify-content-between">DEF Software Solutions
        </li>
        <li class="list-group-item d-flex justify-content-between">GHI Industries
        </li>
    </ul>