    <div class="container text-white p-2" style="width: 98%; background-color: #928c8c;">
        {{role}}
    </div>
    <span class="material-icons mb-1" style="font-size: 80px;">
        account_circle
    </span>
    <h5 class="mb-3 mt-0">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
    <p class="mb-1" style="font-size: 18px;">TEAM SUMMARY</p>
    <ul class="list-group">
        <li *ngIf="currentUser.userRolesId == 3" class="list-group-item d-flex justify-content-between">NO. OF TEAM MEMBERS
            <span class="badge bg-secondary rounded-pill">{{teamCount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">TOTAL COST OF ALL PROJECTS
            <span class="badge bg-secondary rounded-pill">${{projectCosts}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">PENDING TASKS
            <span class="badge bg-secondary rounded-pill">{{taskCount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">CURRENT PROJECTS
            <span class="badge bg-secondary rounded-pill">{{projectCount}}</span>
        </li>
    </ul>
    <p class="mt-4 mb-1" style="font-size: 18px;">CLIENTS</p>
    <ul class="list-group">
        <li *ngFor="let client of clients" class="list-group-item d-flex justify-content-between">{{client}}
        </li>
    </ul>