<div class="container-fluid" style="background-color: white;">
    <div class="container-fluid" id="team">
        <div class="container text-white m-1 my-2 p-2" style="width: 98%; background-color: #5f7a84;">
            TEAM MEMBERS
        </div>
        <div class="container">
            <span class="badge bg-secondary rounded-pill mx-1" style="font-size: 14px;"
                *ngFor="let member of teamMembers">{{member.firstName}} {{member.lastName}}</span>
            <button *ngIf="currentUser.userRolesId == 3" class="badge bg-light text-dark rounded-pill mx-1" style="font-size: 14px;"  (click)="openAdd(addMember)">+ Add new</button>
            <ng-template #addMember let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Add new team member</h4>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="addUserForm">
                    <div class="mb-3">
                      <label for="newMember">Select user to add to team</label>
                      <div class="input-group">
                        <select class="form-select" (change)="newMemberChange($event)" name="newMember" id="newMember" formControlName="newMember">
                            <option disabled selected value="">Users</option>
                            <option *ngFor="let user of otherUsers" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
                </div>
              </ng-template>
              
            <button *ngIf="currentUser.userRolesId == 3" class="badge bg-light text-dark rounded-pill mx-1" style="font-size: 14px;" (click)="openRemove(removeMember)">- Remove</button>
            <ng-template #removeMember let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Remove team member</h4>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="removeUserForm" >
                    <div class="mb-3">
                      <label for="removedMember">Select user to remove from team</label>
                      <div class="input-group">
                        <select class="form-select" (change)="removeMemberChange($event)" name="removedMember" id="removedMember" formControlName="removedMember">
                            <option disabled selected value="">Users</option>
                            <option *ngFor="let user of teamMembers" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
                </div>
              </ng-template>
        </div>
    </div>
    <div class="container text-white m-1 mt-2 p-2" style="width: 98%; background-color: #5f7a84;">
        PROJECTS
    </div>
    <table class="table table-hover table-bordered mt-2">
        <thead>
            <tr class="table-light">
                <th scope="col">Project Name</th>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <th scope="row"><a [routerLink]="['project/', project.id]">{{project.projectName}}</a></th>
                <td>{{getClientName(project.clientId)}}</td>
                <td>{{project.status}}</td>
                <td>{{project.createdDate | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="currentUser.userRolesId == 3" class="badge bg-light text-dark rounded-pill mx-1" style="font-size: 14px;" routerLink="/dashboard/addproject">+ Add new project</button>
    <!-- <button class="badge bg-light text-dark rounded-pill mx-1" style="font-size: 14px;" (click)="openDeleteProject(deleteProject)">- Delete project</button>
    <ng-template #deleteProject let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete project</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deleteProjectForm" >
          <div class="mb-3">
            <label for="deletedProject">Select project to delete</label>
            <div class="input-group">
              <select class="form-select" (change)="deleteProjectChange($event)" name="deletedProject" id="deletedProject" formControlName="deletedProject">
                  <option disabled selected value="">Projects</option>
                  <option *ngFor="let project of projects" [value]="project.id">{{project.projectName}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Delete</button>
      </div>
    </ng-template> -->
    
</div>