<div class="container-fluid" style="background-color: white;">  
    <div class="container text-white m-1 mt-2 p-2" style="width: 98%; background-color: #23395b;">
        PROJECTS
    </div>
    <table class="table table-hover table-bordered mt-2">
        <thead>
            <tr class="table-light">
                <th scope="col">Project Name</th>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <th scope="row"><a [routerLink]="['/dashboard/project/', project.id]">{{project.projectName}}</a></th>
                <td>{{getClientName(project.clientId)}}</td>
                <td>{{project.status}}</td>
                <td>{{project.createdDate | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="currentUser.userRolesId == 3" class="badge bg-light text-dark rounded-pill mx-1" style="font-size: 14px;" routerLink="/dashboard/addproject">+ Add new project</button>
    
</div>