<div class="container-fluid">  
    <div class="container-fluid text-white mt-3 p-2" style=" background-color: #23395b;">
        <h4 class="m-auto">PROJECTS</h4>
    </div>
    <table class="table table-hover table-bordered mt-3" style="background-color: white;">
        <thead>
            <tr style="background-color: #84a59d">
                <th scope="col">Project Name</th>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <th scope="row"><a [routerLink]="['/dashboard/project/', project.id]">{{project.projectName}}</a></th>
                <td>{{getClientName(project.clientId)}}</td>
                <td>{{project.status}}</td>
                <td>{{project.createdDate | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="currentUser.userRolesId == 3" class="badge text-dark rounded-pill mx-1" style="font-size: 15px; background-color: #f6bd60;" routerLink="/dashboard/addproject">+ Add new project</button>
    
</div>