<div class="container-fluid" id="register">
    <div class="card mx-auto mt-5" style="width: 75%">
        <div class="card-header text-center" style="background-color: #84a59d">
            <h4 class="mb-0 p-2">Create New Profile</h4>
        </div>
        <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
            <div class="card-body px-4 py-4 d-flex flex-column align-items-center">
                <h5 class="card-title mb-4">Please complete the following fields</h5>
                <div class="card-text d-flex flex-column justify-content-center" style="width: 80%; margin-left: 2em;">
                    <div class="form-group row mb-2">
                        <label for="username" class="col-sm-4 col-form-label">Username</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="username" id="username"
                                [ngClass]="{
                            'is-invalid': usernameStatus == 'unavailable' || (newUserForm.get('username').invalid && (newUserForm.get('username').dirty || newUserForm.get('username').touched || newUserForm.submitted)),

                            'is-valid': usernameStatus == 'available' && newUserForm.get('username').valid && (newUserForm.get('username').dirty || newUserForm.get('username').touched || newUserForm.submitted) }">
                            <span class="text-danger"
                                *ngIf="newUserForm.get('username').invalid && (newUserForm.get('username').dirty || newUserForm.get('username').touched || newUserForm.submitted) && newUserForm.get('username').errors?.required">
                                Username cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('username').invalid && (newUserForm.get('username').dirty || newUserForm.get('username').touched || newUserForm.submitted) && newUserForm.get('username').errors?.minlength">
                                Username must contain at least 4 characters</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 d-flex flex-column align-items-start">
                            <span *ngIf="usernameStatus == 'unavailable'" class="text-danger">{{usernameMsg}}</span>
                            <span *ngIf="usernameStatus == 'available'" class="text-success">{{usernameMsg}}</span>
                            <button class="btn" style="background-color: #caf0f8;" (click)="checkUsername()">Check username availability</button>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="password" id="password"
                                [ngClass]="{
                            'is-invalid': newUserForm.get('password').invalid && (newUserForm.get('password').dirty || newUserForm.get('password').touched || newUserForm.submitted),
            
                            'is-valid': newUserForm.get('password').valid && (newUserForm.get('password').dirty || newUserForm.get('password').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('password').invalid && (newUserForm.get('password').dirty || newUserForm.get('password').touched || newUserForm.submitted) && newUserForm.get('password').errors?.required">
                                Password cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('password').invalid && (newUserForm.get('password').dirty || newUserForm.get('password').touched || newUserForm.submitted) && newUserForm.get('password').errors?.minlength">
                                Password must contain at least 6 characters</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                id="confirmPassword"
                                [ngClass]="{
                            'is-invalid': newUserForm.get('confirmPassword').invalid && (newUserForm.get('confirmPassword').dirty || newUserForm.get('confirmPassword').touched || newUserForm.submitted),
                            
                            'is-valid': newUserForm.get('confirmPassword').valid && (newUserForm.get('confirmPassword').dirty || newUserForm.get('confirmPassword').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('confirmPassword').invalid && (newUserForm.get('confirmPassword').dirty || newUserForm.get('confirmPassword').touched || newUserForm.submitted) && newUserForm.get('confirmPassword').errors?.required">
                                Confirm password cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.invalid && (newUserForm.dirty || newUserForm.touched || newUserForm.submitted) && newUserForm.errors?.compareValidator">
                                Passwords do not match</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="first_name" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstName" formControlName="firstName"
                                [ngClass]="{
                            'is-invalid': newUserForm.get('firstName').invalid && (newUserForm.get('firstName').dirty || newUserForm.get('firstName').touched || newUserForm.submitted),
                            
                            'is-valid': newUserForm.get('firstName').valid && (newUserForm.get('firstName').dirty || newUserForm.get('firstName').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('firstName').invalid && (newUserForm.get('firstName').dirty || newUserForm.get('firstName').touched || newUserForm.submitted) && newUserForm.get('firstName').errors?.required">
                                First name cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('firstName').invalid && (newUserForm.get('firstName').dirty || newUserForm.get('firstName').touched || newUserForm.submitted) && newUserForm.get('firstName').errors?.minlength">
                                First name must contain at least 2 characters</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="last_name" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastName" formControlName="lastName"
                                [ngClass]="{
                                'is-invalid': newUserForm.get('lastName').invalid && (newUserForm.get('lastName').dirty || newUserForm.get('lastName').touched || newUserForm.submitted),
                                
                                'is-valid': newUserForm.get('lastName').valid && (newUserForm.get('lastName').dirty || newUserForm.get('lastName').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('lastName').invalid && (newUserForm.get('lastName').dirty || newUserForm.get('lastName').touched || newUserForm.submitted) && newUserForm.get('lastName').errors?.required">
                                Last name cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('lastName').invalid && (newUserForm.get('lastName').dirty || newUserForm.get('lastName').touched || newUserForm.submitted) && newUserForm.get('lastName').errors?.minlength">
                                Last name must contain at least 2 characters</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" formControlName="email"
                                [ngClass]="{
                                    'is-invalid': newUserForm.get('email').invalid && (newUserForm.get('email').dirty || newUserForm.get('email').touched || newUserForm.submitted),
                                    
                                    'is-valid': newUserForm.get('email').valid && (newUserForm.get('email').dirty || newUserForm.get('email').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('email').invalid && (newUserForm.get('email').dirty || newUserForm.get('email').touched || newUserForm.submitted) && newUserForm.get('email').errors?.required">
                                Email cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('email').invalid && (newUserForm.get('email').dirty || newUserForm.get('email').touched || newUserForm.submitted) && newUserForm.get('email').errors?.email">
                                Email is invalid</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="phonenumber" class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" id="phonenumber" formControlName="phonenumber"
                                [ngClass]="{
                                'is-invalid': newUserForm.get('phonenumber').invalid && (newUserForm.get('phonenumber').dirty || newUserForm.get('phonenumber').touched || newUserForm.submitted),
                                
                                'is-valid': newUserForm.get('phonenumber').valid && (newUserForm.get('phonenumber').dirty || newUserForm.get('phonenumber').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('phonenumber').invalid && (newUserForm.get('phonenumber').dirty || newUserForm.get('phonenumber').touched || newUserForm.submitted) && newUserForm.get('phonenumber').errors?.required">
                                Phone number cannot be blank</span>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="address" class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="address" formControlName="address"
                                [ngClass]="{
                                    'is-invalid': newUserForm.get('address').invalid && (newUserForm.get('address').dirty || newUserForm.get('address').touched || newUserForm.submitted),
                                    
                                    'is-valid': newUserForm.get('address').valid && (newUserForm.get('address').dirty || newUserForm.get('address').touched || newUserForm.submitted) }">

                            <span class="text-danger"
                                *ngIf="newUserForm.get('address').invalid && (newUserForm.get('address').dirty || newUserForm.get('address').touched || newUserForm.submitted) && newUserForm.get('address').errors?.required">
                                Address cannot be blank</span>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('address').invalid && (newUserForm.get('address').dirty || newUserForm.get('address').touched || newUserForm.submitted) && newUserForm.get('address').errors?.minlength">
                                Address must contain at least 2 characters</span>
                        </div>
                    </div>
                    <!-- <div class="form-group row mb-2">
                        <label for="role" class="col-sm-4 col-form-label">Role</label>
                        <div class="col-sm-8 d-flex align-items-center">
                            <div class="form-check-label form-check-inline" *ngFor="let role of roles">
                                <input type="radio" name="role" [id]="role" [value]="role" class="form-check-input"
                                    formControlName="role">
                                <label [for]="role" class="form-check-label">{{role}}</label>
                            </div>

                            <span class="text-danger"
                                *ngIf="newUserForm.get('role').invalid && (newUserForm.get('role').dirty || newUserForm.get('role').touched || newUserForm.submitted) && newUserForm.get('role').errors?.required">
                                Please select role</span>
                        </div>
                    </div> -->
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
            <div class="card-footer text-muted footerbtns d-flex justify-content-center" style="background-color: #84a59d">
                <button class="btn px-4" style="background-color: #f6bd60">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>