<div class="container-fluid">
    <div class="container-fluid text-white mt-3 p-2" style="background-color: #23395b;">
        <h4 class="m-auto">My Profile Details</h4>
    </div>
    <div class="container-fluid mt-3 p-2" style="background-color: white;">
        <p><strong>Name: </strong>{{userDetails.firstName}} {{userDetails.lastName}}</p>
        <p><strong>Email: </strong>{{userDetails.email}}</p>
        <p><strong>Phone Number: </strong>{{userDetails.phonenumber}}</p>
        <p><strong>Address: </strong>{{userDetails.address}}</p>
    </div>
    <button class="badge text-dark rounded-pill mx-1 mt-2" style="font-size: 15px; background-color: #caf0f8;" routerLink="edit">Edit profile details</button>
</div>
