<div class="container-fluid" id="register">
    <div class="card mx-auto mt-5" style="width: 75%">
        <div class="card-header text-white text-left" style="background-color: #59616a">
            <h2>Register New Profile</h2>
        </div>
        <div class="card-body px-4 my-3 py-4 d-flex flex-column align-items-center">
            <h3>Registration complete. Proceed to login by clicking on button below.</h3>
        </div>
        <div class="card-footer text-muted footerbtns">
            <a routerLink="/login" class="btn btn-success mx-1" id="next" style="float: right">Login</a>
        </div>
    </div>
</div>
